nav {
    margin: 0;
    height: 10vh;
    background-color: rgb(26, 19, 36);
    color: white;
    font-family: century gothic;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 5px 100px; */

    position: fixed;
    width: 100%;

    z-index: 999;
}

nav a {
    text-decoration: none;
    color: inherit;
}
